<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>한밭마켓-한밭만의 중고나라</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/assets/hanbat_logo.png"/>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet"/>
    <style>
        .interest-button button {
            transition: background-color 0.3s ease-in-out;
        }

        .interest-button button:hover {
            background-color: #dc3545; /* Change this to the color you desire */
            color: #fff; /* Change this to the text color you desire */
        }
    </style>
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/" style="width: 120px">
            <img src="../assets/logo2.png" alt="" class="img-fluid">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a style="font-weight: bold" class="nav-link active" aria-current="page"
                                        th:text="|${member.nickname}님 환영합니다!|" href="#!">Home</a>
                </li>
                <form class="d-flex" th:action="@{/logout}" method="post">
                    <!--                        <button class="btn btn-outline-dark" onclick="location.href='/'" type="submit">-->
                    <!--                            <i class="bi-cart-fill me-1"></i>-->
                    <!--                            Cart-->
                    <!--                            <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>-->
                    <!--                        </button>-->
                    <button style="font-weight: bold" class="btn btn-outline-dark" onclick="location.href='/'" type="submit">
                        로그아웃
                        <span style="font-weight: bold" class="badge bg-dark text-white ms-1 rounded-pill">OUT!</span>
                    </button>
                </form>
            </ul>
            <span>  </span>
            <form class="d-flex">
                <button style="font-weight: bold" class="btn btn-outline-dark" type="button" onclick="redirectToNewArticle()">
                    상품등록
                    <span style="font-weight: bold" class="badge bg-dark text-white ms-1 rounded-pill">NEW!</span>
                </button>
                <script>
                    function redirectToNewArticle() {
                        window.location.href = '/articles/new'; // 이동하고 싶은 URL로 변경
                    }
                </script>
            </form>
            <form class="d-flex">
                <button style="font-weight: bold" class="btn btn-outline-dark" type="button" onclick="redirectToMyPage()">
                    마이페이지
                    <span style="font-weight: bold" class="badge bg-dark text-white ms-1 rounded-pill">MY</span>
                </button>
                <script>
                    function redirectToMyPage() {
                        window.location.href = '/mypage'; // 이동하고 싶은 URL로 변경
                    }
                </script>
            </form>
            <form class="d-flex">
                <button style="font-weight: bold" class="btn btn-outline-dark" type="button" onclick="redirectToPurchaseHistory()">
                    구매내역
                    <span style="font-weight: bold" class="badge bg-dark text-white ms-1 rounded-pill">BUY</span>
                </button>
                <script>
                    function redirectToPurchaseHistory() {
                        window.location.href = '/purchaseHistory'; // 이동하고 싶은 URL로 변경
                    }
                </script>
            </form>
            <form class="d-flex">
                <button style="font-weight: bold" class="btn btn-outline-dark" type="button" onclick="redirectToCart()">
                    <i class="bi-cart-fill me-1"></i>
                    장바구니
                    <span style="font-weight: bold" class="badge bg-dark text-white ms-1 rounded-pill" th:text="${memberPreemptionSize}">0</span>
                </button>
                <script>
                    function redirectToCart() {
                        window.location.href = '/preemption'; // 이동하고 싶은 URL로 변경
                    }
                </script>
            </form>
        </div>
    </div>
</nav>
<!-- Bootstrap 5 Contact Form Snippet -->
<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
            <!-- 이미지 출력. 만약 이미지 리스트가 비어있거나 null이면 디폴트 이미지 사용 -->
            <img class="card-img-top mb-5 mb-md-0" th:src="${article.imageFiles != null and article.imageFiles.size() > 0 ? '/images/' + article.imageFiles.get(0).getStoreFileName() : 'https://dummyimage.com/600x700/dee2e6/6c757d.jpg'}" alt="..." style="max-width: 100%; height: auto;">
        </div>
            <div class="col-md-6">
                <div class="small mb-1" th:text="${'제목: ' + article.title}">SKU: BST-498</div>
                <h1 class="display-5 fw-bolder" th:text="${article.item.itemName}">Shop item template</h1>
                <div class="fs-5 mb-5">
                    <!-- 가격 출력 -->
                    <span style="color: #0b5ed7"  th:text="'가격: ' + ${(article.item.price) + '원'}"></span>
                    <br>
                    <span th:text="'판매자: ' + ${(article.member.nickname)}"></span>
                </div>
                <p class="lead" th:text="${article.description}">Lorem ipsum dolor sit amet consectetur adipisicing elit...</p>
                <div class="d-flex">
                    <form th:action="@{'/preemptionFromDetail/' + ${article.item.id}}" method="get">
                        <button type="submit" class="btn btn-outline-danger" onclick="showAlert()">
                            <i class="bi-heart"></i> 담아가기
                        </button>
                    </form>
                    &nbsp;
                    <button class="btn btn-outline-dark" type="button" onclick="redirectToBack()">
                        뒤로가기
                    </button>
                    <script>
                        function redirectToBack() {
                            window.location.href = '/'; // 이동하고 싶은 URL로 변경
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Related items section-->
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Hanbat_Market 2024</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>
<script>
    function showAlert() {
        // You can also use the native alert function if you prefer
        alert("상품을 담았습니다.");
    }
</script>
</body>
</html>
