<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>한밭마켓-한밭만의 중고나라</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/assets/hanbat_logo.png"/>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet"/>
    <style>
        .interest-button button {
            transition: background-color 0.3s ease-in-out;
        }

        .interest-button button:hover {
            background-color: #dc3545; /* Change this to the color you desire */
            color: #fff; /* Change this to the text color you desire */
        }
    </style>
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/" style="width: 120px">
            <img src="assets/logo2.png" alt="" class="img-fluid">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a style="font-weight: bold" class="nav-link active" aria-current="page"
                                        th:text="|${member.nickname}님 환영합니다!|" href="#!">Home</a>
                </li>
                <form class="d-flex" th:action="@{/logout}" method="post">
                    <!--                        <button class="btn btn-outline-dark" onclick="location.href='/'" type="submit">-->
                    <!--                            <i class="bi-cart-fill me-1"></i>-->
                    <!--                            Cart-->
                    <!--                            <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>-->
                    <!--                        </button>-->
                    <button style="font-weight: bold" class="btn btn-outline-dark" onclick="location.href='/'" type="submit">
                        로그아웃
                        <span style="font-weight: bold" class="badge bg-dark text-white ms-1 rounded-pill">OUT!</span>
                    </button>
                </form>
            </ul>
            <span>  </span>
            <form class="d-flex">
                <button style="font-weight: bold" class="btn btn-outline-dark" type="button" onclick="redirectToNewArticle()">
                    상품등록
                    <span style="font-weight: bold" class="badge bg-dark text-white ms-1 rounded-pill">NEW!</span>
                </button>
                <script>
                    function redirectToNewArticle() {
                        window.location.href = '/articles/new'; // 이동하고 싶은 URL로 변경
                    }
                </script>
            </form>
            <form class="d-flex">
                <button style="font-weight: bold" class="btn btn-outline-dark" type="button" onclick="redirectToMyPage()">
                    마이페이지
                    <span style="font-weight: bold" class="badge bg-dark text-white ms-1 rounded-pill">MY</span>
                </button>
                <script>
                    function redirectToMyPage() {
                        window.location.href = '/mypage'; // 이동하고 싶은 URL로 변경
                    }
                </script>
            </form>
            <form class="d-flex">
                <button style="font-weight: bold" class="btn btn-outline-dark" type="button" onclick="redirectToPurchaseHistory()">
                    구매내역
                    <span style="font-weight: bold" class="badge bg-dark text-white ms-1 rounded-pill">BUY</span>
                </button>
                <script>
                    function redirectToPurchaseHistory() {
                        window.location.href = '/purchaseHistory'; // 이동하고 싶은 URL로 변경
                    }
                </script>
            </form>
            <form class="d-flex">
                <button style="font-weight: bold" class="btn btn-outline-dark" type="button" onclick="redirectToCart()">
                    <i class="bi-cart-fill me-1"></i>
                    장바구니
                    <span style="font-weight: bold" class="badge bg-dark text-white ms-1 rounded-pill" th:text="${memberPreemptionSize}">0</span>
                </button>
                <script>
                    function redirectToCart() {
                        window.location.href = '/preemption'; // 이동하고 싶은 URL로 변경
                    }
                </script>
            </form>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <h1>장바구니</h1>
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card border-0 shadow rounded-3 my-5">
                <div class="card-body p-4 p-sm-5">
                    <h5 class="card-title text-center mb-5 fw-light fs-5">내 관심상품</h5>
                    <section class="py-5">
                        <div class="container px-4 px-lg-5 mt-5">
                            <ul class="list-group">
                                <!-- 타임리프 반복문 시작 -->
                                <li th:each="preemptionItemMember : ${preemptionItemByMember}" class="list-group-item mb-3">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <img class="card-img-top"
                                                 th:if="${preemptionItemMember.item.article.imageFiles != null and preemptionItemMember.item.article.imageFiles.size() > 0}"
                                                 th:src="@{'/images/' + ${preemptionItemMember.item.article.imageFiles.get(0).storeFileName}}"
                                                 alt="Article Image"
                                                 style="object-fit: cover; width: 90%; height: 100px;" />
                                            <img class="card-img-top"
                                                 th:unless="${preemptionItemMember.item.article.imageFiles != null and preemptionItemMember.item.article.imageFiles.size() > 0}"
                                                 src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"
                                                 alt="Default Image"
                                                 style="object-fit: cover; width: 100%; height: 200px;" />
                                            <p th:text="${preemptionItemMember.item.article.title}">Article Title</p>
                                            <!-- Article title -->
                                            <h5 class="fw-bolder" th:text="${preemptionItemMember.item.itemName}">Item Name</h5>
                                            <!-- Item name -->
                                            <!-- Item owner's nickname -->
                                            <p style="color: #0b5ed7"  th:text="${preemptionItemMember.item.price} + '원'"></p>
                                            <p th:text="${preemptionItemMember.item.member.nickname}"></p>
                                        </div>
                                        <div class="interest-button">
                                            <form th:action="@{'/preemption/mypage/' + ${preemptionItemMember.id}}" method="get">
                                                <button type="submit" class="btn btn-outline-danger">
                                                    X
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="mt-3">
                                        <a class="btn btn-outline-dark" th:href="@{'/articles/' + ${preemptionItemMember.item.article.id}}">상세보기</a>
                                    </div>
                                </li>
                                <!-- 타임리프 반복문 끝 -->
                            </ul>
                        </div>
                        <button class="btn btn-outline-dark" type="button" onclick="redirectToBack()">
                            뒤로가기
                        </button>
                        <script>
                            function redirectToBack() {
                                window.location.href = '/'; // 이동하고 싶은 URL로 변경
                            }
                        </script>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>
</body>
</html>


